*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: black;
}
header{
    color: #fff;
}
 
h1{ font-family: "Architects Daughter";
font-size: 519%;
}
h2{
font-family: 'Lateef', serif;
}
label{
    color: #fff;
}