*{
    margin: 0%;
    padding: 0%;

}
header{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
    font-family: Architects Daughter;
}
#takana{
    margin-left: 1em;
  padding-top: 2em;
   
}
span{
font-size: 12px;
letter-spacing: 5px;
font-family: cardo;
line-height: 2%;

}
ul{
    display: flex;
justify-content: flex-end;
list-style-type: none;
margin-top: -3.5em;
font-size: 22px;




}
#maintitle{
margin-top: -9em;

}
li{
display: flex;
padding: 2%;
}
.booking{
text-align:justify;
padding-top: 3.5em;
padding-left: 4em;
font-size:50px;

font-family: finger paint;
;

}
.reserv{
text-align: justify;
margin-top: -5px ;
font-family: Cardo;
padding-left: 4em;
font-size:50px;

}
.book1{

display: flex;
justify-content: flex-end;
width: 150px;
height: 50px;
background: #FFF5F5;
border-radius: 83px;
margin-left: 70em;

}
.book1 a{
    color: black;
    font-family: rubik;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding-right: 0.25em;
    font-weight: bold;
    padding-top: 0.25em;


}
.available{
text-align: center;
margin-top: 2em;
font-family: Montserrat;
font-weight:900px;
font-size: 72px;
}
#about{
display: flex;
flex-direction: row;
justify-content: center;
padding: 5%;

}
.single{
padding: 5%;
font-size: 44px;
font-family: Montserrat;
}
.double{
padding: 5%;
font-size: 44px;
font-family: Montserrat;
}
.price{
font-family: finger paint;
font-size:82px ;
text-align: center;
}
input{
background: #FFFCFC;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 73px;
width: 472px;
height: 69px;
}
.book2{
width: 275px;
height: 108px;
background-color: black;
color: white;
border: solid;
border-radius: 83px;
font-size: 45px;
font-family: Rubik;
font-weight: bold;
}
p{
    text-align: center;
   text-align: justify;
    font-family: cardo;
    font-size: 40px;
    margin-left: 2em;
}
footer{
    height: 400px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 4em;
}
.footertitle{
text-align: center;
font-size: 50px;
padding-top: 4em;
font-family: architects daughter;
}
.icons{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 2em;
    
}
footer li{
    font-size: 36px;
    padding: 10%;
}
@media screen and (max-width:900px){
    #about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}
.book1{

    
   display: none;
    }
    header{
        width: 800px;
    }
    .booking{
        text-align:justify;
        padding-top: 10em;
        padding-left: 4em;
        font-size:20px;
        
        font-family: finger paint;
        ;
        
        }
        .reserv{
            text-align: justify;
            margin-top: -5px ;
            font-family: Cardo;
            padding-left: 2em;
            font-size:20px;
        } 
        footer{
        width: 800px;
        }           
}