*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: black;
}
header{
    color: #fff;
}
 
h1{ 
    font-family: "Architects Daughter";
    font-size: 550%;
}
h2{
  font-family: 'Lateef', serif;
}
label{
    color: #fff;
}
footer{
    background-color: #FFFFFF;
    color: black;
    margin-top: 5em;
    text-align: center;
     font-family:"Architects Daughter" ;
    }
.footertitle{
        font-family:"Architects Daughter";
        font-size:42px;
        padding-top: 3rem;
}
footer{
    height: 200px;
    }
    li{
        display: inline;
    list-style-type:none;
    padding-left: 25rem;
    padding:1%;
    font-size: 25px;
 }
.copyright{
    background-color: dimgrey;
    height: 20px;
    padding-top: 10px;
}
.TITRE h3{
    word-spacing : 5px;
}
main{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center; 
}
#country{
    width: 570px;
    padding: 13px;
    font-family: 'Montserrat', sans-serif;
}

select{
    border-radius: 15px;
}
input{
    border-radius: 15px;
    padding: 13px;
    width: 540px;
}
h1{
    text-align: center;
}
h2{
    letter-spacing: 15px;
    font-size: 20px;
    text-align: center;
}
h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-top: 70px;
}
label{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
#env{
    margin-left: 80%;
    width: 30%;
    margin-top: 30px;
}
button{
    border-radius: 15px;
    padding: 10px;
}
@media  (max-width:900px){
    input{
        width: 300px;
        display: flex;
        justify-content: center;
    }
    #country{
        width: 320px;
        
    }
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 13px; 
        letter-spacing: 10px;
    }
    h3{
        font-size: 30px;
        padding-top: 50px;
    }
    #country{
       font-size: 20px;
    }
  label{
    font-size: 20px;
  }
}
