*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: black;
}
header{
    color: #fff;
}
 
h1{ 
    font-family: "Architects Daughter";
    font-size: 550%;
}
h2{
  font-family: 'Lateef', serif;
}
label{
    color: #fff;
}
footer{
    background-color: #FFFFFF;
    color: black;
    margin-top: 5em;
    text-align: center;
     font-family:"Architects Daughter" ;
    }
.footertitle{
        font-family:"Architects Daughter";
        font-size:42px;
        padding-top: 3rem;
}
footer{
    height: 200px;
    }
    li{
        display: inline;
    list-style-type:none;
    padding-left: 25rem;
    padding:1%;
    font-size: 25px;
 }
.copyright{
    background-color: dimgrey;
    height: 20px;
    padding-top: 10px;
}
.TITRE h3{
    word-spacing : 5px;
}
main{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center; 
}
#country{
    width: 600px;
    padding: 9px;
}

select{
    border-radius: 15px;
}
input{
    border-radius: 15px;
    padding: 9px;
    width: 580px;
}
h2{
    letter-spacing: 27px;
    font-size: 20px;
    text-align: center;
}
h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
label{
    font-size: 24px;
}
