@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: #459397;
    text-align: center;
    margin: auto;
}
header{
    background-image: url("../img/SJD\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 780px;
    color: #fff;
}

h1{
    font-family: "Architects Daughter";
    font-size: 110px;
}
h2{
    font-family: 'Lateef', serif;
    letter-spacing: 15px;
}
.TITRE{
    padding: 71px;
}
.sect1{
  margin: auto;
  width: 41%;
  height: 267px;
  left: 389px;
  background: rgba(0, 121, 100, 0.51);
  padding: 40px;
  margin-top: 13%;
}
.military{
   font-family: monospace;
   text-align: justify;
   font-size: 181%;
}

.sect1 h3{
    font-size: 50px;
    font-family: "Architects Daughter";
}
.SEC{
    width: 63%;
    background: rgba(252, 255, 255, 0.81); 
    margin: auto;
    height: 340px;
    font-size: 32px;
    padding: 16px;
    border-radius: 5%;
}

.section1{
    display: flex;
}
.section2{
    display: flex;
}
.section3{
    display: flex;
}
.section4{
    display: flex;
}
.section5{
    display: flex;
}
.section6{
  margin: auto;
  height: 350px;
}
.section7{
    margin: auto;
}
img{
    border-radius: 16px;
    height: 300px;
}
h4{
    font-family: Architects Daughter;
    font-size: 72px;
    color: #fff;
    margin-left: -36%;
}
.SEC h3{
    font-family: Rubik;
}
button{
    background: rgba(255, 255, 255, 0.66);
    border-radius: 24px;
}
a{
    color: #fff;
    font-size: 30px;
    display: block;
    margin: auto;
    margin-top: -100px;
}
.SEC p{
    font-family: 'Rouge Script';
}
footer{
    background-color: black;
    color: #fff;
    padding: 40px;
}
h5{
    font-family: Architects Daughter;
    font-size: 32px;
}
i{
    padding: 2%;
    font-size: 50px;
}
.cop{
    background: #C4C4C4;
    font-family: Amaranth;
    text-align: justify;
    padding-left: 10%;
}
main{
    margin-top: 10%;
}
@media  (max-width:1126px){

h1{
    font-size: 54px;
}
img {
    height: 196px;

}
.SEC{
    height: 413px;
    width: 73%;
    font-size: 29px;
}
header{
    height: 658px;
}
.section6 {
    height: 244px;
}
.sect1{
    margin-top: -3%;
}
a{
    margin-top: -79px;
}
.cop{
    font-size: 76%;
}
i{
    font-size: 30px;
}
.sect1 h3 {
    font-size: 30px;
}
.military {
    font-size: 109%;
}
h4{
    font-size: 52px;
}
}
@media  (max-width:648px){
    .SEC {
        font-size: 23px;
    }

    header{
        background-size: 118%;
        height: 581px;
    }
    .sect1{
        width: 51%;
        height: 199px;
        margin-top: -9%;
    }
    main {
        margin-top: -14%;
    }
    h2{
        font-size: 99%;
    }
    h4{
        
        margin-top: 53px;
        margin-left: -94px;
    }
    main {
        margin-top: -9%;
    }
}
@media  (max-width:532px){
img{
    height: 122px;
}
.SEC {
    font-size: 18px;
    height: 307px;
}
.section6 {
    height: 142px;
}
h4 {
    font-size: 39px;
}
.cop {
    font-size: 59%;
}
h2{
    letter-spacing: 0px;
}
h1 {
    font-size: 31px;
}
.sect1 {
    width: 59%;
}
header {
    background-size: 212%;
    height: 479px;
}
a {
    margin-top: -55px;
    font-size: 22px;
}
}

